*
{
    margin: 0px;
    padding: 0px;
}

#add_category
{
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;

    padding: 40px;
}

#image
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#image img
{
    border-radius: 24px;
}