*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: #454545;
}

a
{
    text-decoration: none;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #696565;

    font-size: 20px;

    padding: 0px 120px;
}

#logo
{
    padding: 10px;
    
    color: #aeabab;
}

#profile
{
    text-align: center;
    color: #aeabab;

    background-color: #423e3e;

    padding: 3px 10px 0px;
}

#main
{
    padding: 0px 120px;
}

footer
{
    position: absolute;
    bottom: 10px;
    width: 100%;

    color: #d8d3d3
}

footer p
{
    text-align: center;
}

form
{
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;

    padding: 15px;
    min-width: 720px;
}

#editing_and_logo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
}

#editing_and_logo h2, #editing_and_logo p
{
    color: #e3e3e3;
}

#editing p
{
    margin-top: 10px;
}

input[type="input"], select
{   
    padding: 5px;
    padding-left: 8px;
    width: 200px;
}

input, select
{
    border-radius: 10px;
    border: 0px;

    margin-top: 5px;

    background-color: #242424;
    color: #747474;
}

input[name="name_of_restaurant"], input[name="address_of_restaurant"]
{
    width: 100%;
}

#restaurant_logo input
{
    margin-top: 10px;
}

#restaurant_logo_border
{
    background-color: #242424;
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]
{
    border-radius: 15px;

    background-color: #7c7c7c;
    color: #f6f6f6;

    padding: 7px 20px;
    margin: 0px auto;
    
    cursor: pointer;

    font-weight: bold;

    box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.5);
}