*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: #454545;
}

a
{
    text-decoration: none;
}

h2
{
    color: #f6f6f6;
    padding: 20px;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #565455;

    font-size: 20px;

    padding: 0px 120px;
}

#logo
{
    padding: 10px;
    
    color: #aeabab;
}

#profile
{
    text-align: center;
    color: #d6d6d6;

    background-color: #423e3e;

    padding: 3px 10px 0px;
}

#main
{
    padding: 0px 100px;
}

footer
{
    position: absolute;
    bottom: 10px;
    width: 100%;

    color: #d8d3d3
}

footer p
{
    text-align: center;
}

#titles, .city
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: 40px;
    min-width: 862px;
}

.city:hover
{
    border-bottom: 1px solid #66CC33;
}

.border
{
    width: 2%;
}

.restaurant_row, .city_row, .address_row, .agent_row, .login_row
{
    width: 15%;
    border-right: 1px solid black;
}

.button_row
{
    width: 23%;
}

.button_row button
{
    background-color: #b0b0b0;

    height: 100%;
    width: 100px;
    font-size: 20px;

    color: #f6f6f6;

    cursor: pointer;

    border: 0px;
    border-radius: 8px;
}

#titles div, .city div
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titles
{
    margin-top: 10px;
    color: #b0b0b0;
    background-color: #3a3a3a;
}

.city
{
    margin-top: 10px;
    
    background-color: #696565;
    color: #f6f6f6;
}

.city:hover
{
    cursor: pointer;
}

#grey
{
    background-color: #b0b0b0;
}

.green
{
    background-color: #66CC33;
}