*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

body
{
    background-color: #454545;
}

a
{
    text-decoration: none;
}

h2
{
    color: #f6f6f6;
    padding: 20px;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #696565;

    font-size: 20px;

    padding: 0px 90px;
}

#logo
{
    padding: 10px;
    
    color: #aeabab;
}

#profile
{
    text-align: center;
    color: #aeabab;

    background-color: #423e3e;

    padding: 3px 10px 0px;
}

#main
{
    padding: 0px 80px;
}

table
{
    width: 100%;

    border-collapse: collapse;
}

table tr td
{
    text-align: center;
    vertical-align: middle;

    border: 1px solid black;
    height: 45px;
}

#titles
{
    margin-top: 10px;
    color: #b0b0b0;
    background-color: #3a3a3a;
}

#titles tr td button
{
    float: right;

    background-color: #b0b0b0;

    height: 100%;
    width: 150px;
    
    font-size: 20px;
    color: #f6f6f6;

    cursor: pointer;

    border: 0px;
    border-radius: 4px;
}

.city
{
    margin-top: 10px;
}

.city tr 
{
    background-color: #696565;
    color: #f6f6f6;
}

.border
{
    width: 20px;
}

#grey
{
    background-color: #b0b0b0;
}

.green
{
    background-color: #66CC33;
}

footer
{
    position: absolute;
    bottom: 10px;
    width: 100%;

    color: #d8d3d3
}

footer p
{
    text-align: center;
}